body {
	width: 60%;
	padding-left: 20%;
	padding-top: 5%;
	padding-right: 20%;
	text-align: center;
}

#titulli, #login, #signup {
	margin-bottom: 5%;
	border-bottom-style: groove;
	padding-bottom: 5px;
}


input[type=text], input[type=password] ,input[type=date]{
	width:40%;
	padding:10px;
	margin-top:30px;
	border:2px solid #ccc;
	padding-left:40px;
	font-size:16px;
	font-family: 'Lora', serif;
}

.select {
	width:46%;
	padding:10px;
	margin-top:30px;
	border:2px solid #ccc;
	padding-left:40px;
	font-size:16px;
	font-family: 'Lora', serif;
}

.upload{
	width:43%;
	padding:10px;
	margin-top:30px;
	border:2px solid #ccc;
	padding-left:20px;
	margin-left: 250px;
	font-size:16px;
	background: #FFFFFF;
	font-family: 'Lora', serif;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;

}


.backg{ 
	  background: url("https://image.shutterstock.com/z/stock-photo-call-center-puzzle-d-render-illustration-with-word-on-blue-background-222808396.jpg") no-repeat center center fixed; 
	 -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
	
.check p{
		color: #000000;
		font-size: 20px;
		text-decoration: none;
		font-style: normal;
		font-weight: bold;
		text-align: center;
		
		
	}
			
.transp{
				background: rgba(255, 255, 255, 0.7);
			}

input[type=submit], input[type=button] {
	width: 40%;
	padding: 10px;
	margin-top: 30px;
	border:1px solid #ccc;
	font-size: 18px;
	color:white;
	font-family: 'Lora', serif;
	border-radius: 3px;
	background-color: #87CEEB;
}
input[type=submit]:hover{
	background-color: #B3B3B3;
}

input[type=button]:hover{
	background-color: #B3B3B3;
}

h2 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 36px;
}

#signup_1 {
	display: none;
}

p {
   font-size:14px;
    font-family: 'Lora', serif; 
    font-style: italic;
    color: #999999;
}